<ion-content class="ion-padding">
    <div class="d-flex" style="flex-direction: column; height: 100%">
        <div class="d-flex ion-justify-content-center">
            <app-logo size="sm"></app-logo>
        </div>
        <div
            class="d-flex ion-justify-content-center ion-align-items-center"
            style="height: 100%"
        >
            <div style="width: 100%">
                <h4 class="ion-text-center ion-margin-bottom">Bienvenido Usuario</h4>

                <h5 class="ion-text-center ion-margin-bottom">
                    <ion-text color="primary">
                        <ng-container *ngIf="showForm == 'email'">
                            Agrega un correo para tu cuenta
                        </ng-container>
                        <ng-container *ngIf="showForm == 'password'">
                            Crea una contraseña para tu cuenta
                        </ng-container>
                    </ion-text>
                </h5>

                <form
                    *ngIf="showForm == 'email'"
                    [formGroup]="emailForm"
                    (ngSubmit)="onEmailFormSubmit()"
                >
                    <div id="usernameInput" class="ion-margin-bottom">
                        <ion-item>
                            <ion-label position="floating">Correo electrónico</ion-label>
                            <ion-input
                                placeholder="Ingresa tu correo electrónico"
                                formControlName="email"
                                type="email"
                            ></ion-input>
                        </ion-item>
                        <app-form-control-error
                            class="ion-padding-start"
                            [formGroup]="emailForm"
                            formControlNamex="email"
                            [messages]="emailValidationMessages"
                        ></app-form-control-error>
                    </div>

                    <div class="d-flex ion-justify-content-center ion-margin-bottom">
                        <ion-button
                            [disabled]="!emailForm.valid"
                            color="primary"
                            (click)="onEmailFormSubmit()"
                        >
                            Continuar
                        </ion-button>
                    </div>
                    <div class="d-flex ion-justify-content-center ion-margin-bottom">
                        <ion-button
                            color="primary"
                            (click)="onSignUpClicked()"
                            fill="outline"
                        >
                            Iniciar Sesión
                        </ion-button>
                    </div>
                </form>

                <form
                    *ngIf="showForm == 'password'"
                    [formGroup]="passwordForm"
                    (ngSubmit)="onPasswordFormSubmit()"
                >
                    <div id="passwordInput">
                        <ion-item>
                            <ion-label position="floating">Contraseña</ion-label>
                            <ion-input
                                formControlName="password"
                                placeholder="Ingresa tu contraseña"
                                type="password"
                            ></ion-input>
                        </ion-item>
                        <app-form-control-error
                            class="ion-padding-start"
                            [formGroup]="passwordForm"
                            formControlNamex="password"
                            [messages]="passwordValidationMessages"
                        ></app-form-control-error>
                    </div>

                    <div id="passwordConfirmInput" class="ion-margin-bottom">
                        <ion-item>
                            <ion-label position="floating"
                                >Confirmar Contraseña</ion-label
                            >
                            <ion-input
                                formControlName="passwordConfirm"
                                placeholder="Confirma tu contraseña"
                                type="password"
                            ></ion-input>
                        </ion-item>
                        <app-form-control-error
                            class="ion-padding-start"
                            [formGroup]="passwordForm"
                            formControlNamex="passwordConfirm"
                            [messages]="passwordConfirmValidationMessages"
                        ></app-form-control-error>
                    </div>

                    <div class="d-flex ion-justify-content-center ion-margin-bottom">
                        <ion-button
                            [disabled]="!passwordForm.valid"
                            color="primary"
                            (click)="onPasswordFormSubmit()"
                        >
                            Registrarme
                        </ion-button>
                    </div>
                    <div class="d-flex ion-justify-content-center">
                        <ion-button
                            color="primary"
                            fill="outline"
                            (click)="onBackClicked()"
                        >
                            Atrás
                        </ion-button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</ion-content>
