ion-card {
    border: 1.5px solid rgb(0 0 0 / 12%);
    box-shadow: none !important;

    ion-icon {
        color: rgba(0, 0, 0, 0.4);
    }

    ion-label {
        h3 {
            font-size: 0.9rem;
            font-weight: 750;
            line-height: 1.2;
        }

        span {
            font-size: 12.3px;
        }
    }
}

.badge {
    font-size: 10px !important;
    border-radius: 8px;
    padding: 0 8px;

    justify-content: center;
    align-items: center;
    display: flex;
}

.badge-success {
    background-color: rgb(228, 245, 211);
    color: rgb(67, 107, 29);
}

.badge-warning {
    background-color: rgb(252, 237, 220);
    color: rgb(143, 82, 10);
}

.bardge-failure {
    background-color: rgb(255, 235, 232);
    color: rgb(179, 49, 31);
}
