<ion-modal (willDismiss)="onWillDismiss($event)">
    <ng-template>
        <ion-header>
            <ion-toolbar>
                <ion-buttons slot="start">
                    <ion-button (click)="cancel()">Cancel</ion-button>
                </ion-buttons>
                <ion-title>Welcome</ion-title>
                <ion-buttons slot="end">
                    <ion-button (click)="confirm()" [strong]="true">Confirm</ion-button>
                </ion-buttons>
            </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
            <app-no-content
                *ngIf="!hasContent"
                message="¡No se encontraron fotos!"
            ></app-no-content>

            <ion-col size="6" *ngFor="let photo of photos; index as position">
                <ion-img [src]="photo.webViewPath" (click)="onClickSet(photo)"></ion-img>
            </ion-col>
        </ion-content>
    </ng-template>
</ion-modal>
