<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <!-- TODO Go back 2 pages if comming from qr code scan -->
            <!-- This will prevent a bug where the screen goes black if the user has navigated to this page via qr scanner -->
            <!-- https://forum.ionicframework.com/t/how-to-go-back-multiple-pages-in-ionic/118733/4 -->
            <!-- https://stackoverflow.com/questions/48336846/how-to-go-back-multiple-pages-in-ionic-3 -->
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>
            <app-logo size="sm"></app-logo>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ng-container *ngIf="!loading">
        <ng-container *ngIf="invalidContent">
            <h1>{{ invalidContentMessage }}</h1>
        </ng-container>
        <ng-container *ngIf="!invalidContent">
            <div class="user-profile-card">
                <div class="user-avatar-display">
                    <div class="avatar-icon">
                        <img [src]="userAvatarImg" alt="avatar" />
                        <ion-icon
                            name="add-circle"
                            (click)="onClickOpenActions()"
                        ></ion-icon>
                    </div>
                </div>
                <div class="user-profile-banner">
                    <img [src]="userBannerImg" alt="banner" />
                </div>
            </div>
            <app-card-item
                *ngFor="let cardItem of userProfileCardItems"
                [cardItem]="cardItem"
            ></app-card-item>
        </ng-container>
    </ng-container>
</ion-content>

<app-profile-selector-modal></app-profile-selector-modal>
