<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <!-- TODO Go back 2 pages -->
            <!-- This will prevent a bug where the screen goes black if the user has navigated to this page via qr scanner -->
            <!-- https://forum.ionicframework.com/t/how-to-go-back-multiple-pages-in-ionic/118733/4 -->
            <!-- https://stackoverflow.com/questions/48336846/how-to-go-back-multiple-pages-in-ionic-3 -->
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>
            <app-logo size="sm"></app-logo>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <p>somethin</p>
</ion-content>