<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Historial de Ubicaciones</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="loadAsync(false)">
                <ion-icon slot="icon-only" name="refresh-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content scroll="false" *ngIf="!isLoading">
    <app-no-content
        *ngIf="!hasUserLocationContent && !hasUserRecentLocationContent"
    ></app-no-content>

    <div *ngIf="hasUserRecentLocationContent" class="ion-padding">
        <h2 class="locationtitle">Más recientes</h2>

        <ion-slides class="ion-margin-bottom" pager="true" [options]="slideOpts">
            <ion-slide *ngFor="let location of recentLocations">
                <div class="box">
                    <app-location
                        [longitude]="location.longitude"
                        [latitude]="location.latitude"
                    ></app-location>
                </div>
            </ion-slide>
        </ion-slides>
    </div>

    <h4 *ngIf="hasUserLocationContent" class="ion-padding locationtitle">
        Historial Completo
    </h4>
    <ion-accordion-group *ngIf="hasUserLocationContent">
        <ion-accordion
            *ngFor="let userLocation of userLocations"
            [value]="userLocation.geohash"
            (click)="onClickLoadLocationDataAsync(userLocation)"
        >
            <ion-item slot="header" color="light">
                <ion-label>{{ userLocation.shortDisplayName }}</ion-label>
            </ion-item>
            <div slot="content">
                <ion-spinner
                    *ngIf="userLocation._isLoadingLocationData"
                    class="ion-padding"
                    name="crescent"
                ></ion-spinner>
                <app-location
                    *ngIf="!userLocation._isLoadingLocationData"
                    [hidden]="userLocation._isAccordianHidden"
                    [longitude]="userLocation._location.longitude"
                    [latitude]="userLocation._location.latitude"
                ></app-location>
                <div id="buttons" class="d-flex ion-justify-content-end">
                    <ion-button color="danger" fill="outline" class="ion-margin-end"
                        >Eliminar</ion-button
                    >
                </div>
            </div>
        </ion-accordion>
    </ion-accordion-group>
</ion-content>
