<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Historial de Ubicaciones</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="loadAsync(false)">
                <ion-icon slot="icon-only" name="refresh-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content scroll="false" *ngIf="!isLoading">
    <app-no-content *ngIf="!hasContent"></app-no-content>

    <div *ngIf="hasContent" class="ion-padding">
        <h2 class="locationtitle">Más recientes</h2>

        <ion-slides class="ion-margin-bottom" pager="true" [options]="slideOpts">
            <ion-slide *ngFor="let location of userLocations">
                <div class="box">
                    <app-location
                        [longitude]="location.longitude"
                        [latitude]="location.latitude"
                    ></app-location>
                </div>
            </ion-slide>
        </ion-slides>
    </div>

    <h4 *ngIf="hasContent" class="ion-padding locationtitle">Historial Completo</h4>
    <ion-accordion-group *ngIf="hasContent">
        <ion-accordion
            *ngFor="let location of userLocations"
            [value]="location.geohash"
            (click)="location._isAccordianHidden = !location._isAccordianHidden"
        >
            <ion-item slot="header" color="light">
                <ion-label
                    >{{ getAccordianShortAddress(location.city, location.state)
                    }}</ion-label
                >
            </ion-item>
            <div slot="content">
                <app-location
                    [hidden]="location._isAccordianHidden"
                    [longitude]="location.longitude"
                    [latitude]="location.latitude"
                ></app-location>
                <div id="buttons" class="d-flex ion-justify-content-end">
                    <ion-button
                        color="danger"
                        fill="outline"
                        class="ion-margin-end"
                        (click)="deleteLocationClicked(location)"
                        >Eliminar</ion-button
                    >
                </div>
            </div>
        </ion-accordion>
    </ion-accordion-group>
</ion-content>
