<ion-header>
    <ion-toolbar>
        <ion-title>
            <app-logo size="xs"></app-logo>
        </ion-title>
    </ion-toolbar>
    <div style="padding: 6px">
        <p class="ion-text-center m-0">{{formTitles.get(showForm)}}</p>
    </div>
</ion-header>

<ion-content> </ion-content>

<ion-footer class="d-flex" style="padding: 6px">
    <ion-button color="primary" fill="outline" style="margin-right: auto">
        Anterior</ion-button
    >
    <ion-button color="primary" style="margin-left: auto">
        Siguiente</ion-button
    >
</ion-footer>
