<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Alergias</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content *ngIf="!loading && canEdit">
    <ion-accordion-group [multiple]="true">
        <ion-accordion *ngFor="let alergy of alergies" [value]="alergy.id">
            <ion-item slot="header" color="light">
                <ion-label>{{ alergy.name ?? "Alergia" }}</ion-label>
            </ion-item>
            <div slot="content">
                <ion-item id="nombre" class="ion-margin-bottom">
                    <ion-label position="floating">Nombre de la alergia</ion-label>
                    <ion-input type="text" [(ngModel)]="alergy.name"></ion-input>
                </ion-item>

                <ion-item id="numeroDeIncidentes" class="ion-margin-bottom">
                    <ion-label position="floating"
                        >Número de incidentes (opcional)</ion-label
                    >
                    <ion-input
                        type="number"
                        [(ngModel)]="alergy.numberOfIncidents"
                    ></ion-input>
                </ion-item>

                <ion-item id="numeroDeIncidentes" class="ion-margin-bottom">
                    <ion-label position="floating"
                        >Número de veces hospitalizado (opcional)</ion-label
                    >
                    <ion-input
                        type="number"
                        [(ngModel)]="alergy.timesHospitalized"
                    ></ion-input>
                </ion-item>

                <div id="buttons" class="d-flex ion-justify-content-end ion-padding">
                    <ion-button
                        color="danger"
                        fill="outline"
                        class="ion-margin-end"
                        (click)="onDeleteClicked(alergy)"
                        >Eliminar</ion-button
                    >
                    <ion-button color="primary" (click)="onSaveClicked(alergy)"
                        >Guardar</ion-button
                    >
                </div>
            </div>
        </ion-accordion>
    </ion-accordion-group>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="onAddClicked()">
            <ion-icon name="add-outline"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>

<ion-content *ngIf="!loading && !canEdit" class="ion-padding">
    <ion-grid>
        <ion-row>
            <ion-col class="justify-center" col-12>
                <ion-label>{{ name }}</ion-label>
            </ion-col>
        </ion-row>
        <ion-row *ngFor="let alergy of alergies">
            <ion-col col-12>
                <app-information-display
                    title="Alergia"
                    [content]="alergy.name"
                    [classes]="['ion-text-wrap']"
                ></app-information-display>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
