<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Alergias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-margin">
    <ion-input
      type="text"
      placeholder="Añade una alergia"
      (keyup.enter)="onAlergyEnter()"
      [(ngModel)]="alergyInput"
    ></ion-input>
  </div>

  <ion-list>
    <ion-item *ngFor="let alergy of alergies">
      <ion-label>{{alergy}}</ion-label>
      <ion-button
        slot="end"
        color="danger"
        fill="outline"
        (click)="onDeleteClicked(alergy)"
      >
        Eliminar
      </ion-button>
    </ion-item>
  </ion-list>

  <div style="height: 200px"></div>
</ion-content>
