<ion-content class="ion-padding">
    <div class="d-flex" style="flex-direction: column; height: 100%">
        <div class="d-flex ion-justify-content-center">
            <app-logo size="sm"></app-logo>
        </div>
        <div
            class="d-flex ion-justify-content-center ion-align-items-center"
            style="height: 100%"
        >
            <div style="width: 100%">
                <h4 class="ion-text-center ion-margin-bottom">
                    <ng-container *ngIf="showForm == 'email'">
                        Bienvenido Usuario
                    </ng-container>
                    <ng-container *ngIf="showForm == 'password'">
                        Hola {{username}}
                    </ng-container>
                </h4>

                <h5 class="ion-text-center ion-margin-bottom">
                    <ion-text color="primary"> Ingresa a tu cuenta </ion-text>
                </h5>

                <form
                    *ngIf="showForm == 'email'"
                    [formGroup]="emailForm"
                    (ngSubmit)="onEmailFormSubmit()"
                >
                    <div id="usernameInput" class="ion-margin-bottom">
                        <ion-item>
                            <ion-label position="floating">Correo Electrónico</ion-label>
                            <ion-input
                                placeholder="Ingresa tu correo electrónico"
                                formControlName="email"
                                autocomplete="off"
                            ></ion-input>
                        </ion-item>
                        <app-form-control-error
                            class="ion-padding-start"
                            [formGroup]="emailForm"
                            formControlNamex="email"
                            [messages]="emailValidationMessages"
                        ></app-form-control-error>
                    </div>

                    <div class="d-flex ion-justify-content-center ion-margin-bottom">
                        <ion-button
                            [disabled]="!emailForm.valid"
                            color="primary"
                            (click)="onEmailFormSubmit()"
                        >
                            Iniciar Sesión
                        </ion-button>
                    </div>
                    <div class="d-flex ion-justify-content-center ion-margin-bottom">
                        <ion-button
                            color="primary"
                            (click)="onSignUpClicked()"
                            fill="outline"
                        >
                            Registrarme
                        </ion-button>
                    </div>
                </form>

                <form
                    *ngIf="showForm == 'password'"
                    [formGroup]="passwordForm"
                    (ngSubmit)="onPasswordFormSubmit()"
                >
                    <div id="passwordInput" class="ion-margin-bottom">
                        <ion-item>
                            <ion-label position="floating">Contraseña</ion-label>
                            <ion-input
                                placeholder="Ingresa tu contraseña"
                                formControlName="password"
                                type="password"
                            ></ion-input>
                        </ion-item>
                        <app-form-control-error
                            class="ion-padding-start"
                            [formGroup]="passwordForm"
                            formControlNamex="password"
                            [messages]="passwordValidationMessages"
                        ></app-form-control-error>
                    </div>

                    <div class="d-flex ion-justify-content-center ion-margin-bottom">
                        <ion-button
                            [disabled]="!passwordForm.valid"
                            color="primary"
                            (click)="onPasswordFormSubmit()"
                        >
                            Ingresar
                        </ion-button>
                    </div>
                    <div class="d-flex ion-justify-content-center">
                        <ion-button
                            color="primary"
                            fill="outline"
                            (click)="onBackClicked()"
                        >
                            Atrás
                        </ion-button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</ion-content>
