<app-loading-img *ngIf="hasFirebase && hasQrInformation"></app-loading-img>

<qrcode
    #qrCodeElement
    *ngIf="!hasFirebase && hasQrInformation"
    [qrdata]="qrCodeInformation"
    [allowEmptyString]="true"
    [alt]="'A custom alt attribute'"
    [ariaLabel]="'QR Code image with the following content...'"
    [colorDark]="'#000000'"
    [colorLight]="'#ffffff'"
    [elementType]="'img'"
    [errorCorrectionLevel]="'M'"
    [cssClass]="'center'"
    [margin]="4"
    [scale]="1"
    [title]="'A custom title attribute'"
    [width]="300"
    (qrCodeURL)="onChangeURL($event)"
></qrcode>

<div
    *ngIf="hasPlatformFinishedLoading && hasFirebase && hasQrInformation"
    class="d-flex ion-justify-content-center"
>
    <ion-button (click)="onDownloadClicked()">Guardar Imagen</ion-button>
</div>
