<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Números de Teléfono</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-accordion-group [multiple]="true">
    <ion-accordion *ngFor="let phoneNumber of phoneNumbers" [value]="phoneNumber.id">
      <ion-item slot="header" color="light">
        <ion-label>{{getPhoneNumberDescription(phoneNumber)}}</ion-label>
      </ion-item>
      <div slot="content">
        <ion-item id="number" class="ion-margin-bottom">
          <ion-label position="floating">Número</ion-label>
          <ion-input type="tel" [(ngModel)]="phoneNumber.number"></ion-input>
        </ion-item>

        <div id="owner" class="ion-margin-bottom">
          <ion-item>
            <ion-label position="floating">¿De quien es este número?</ion-label>
            <ion-select interface="action-sheet" [(ngModel)]="phoneNumber.owner">
              <ion-select-option *ngFor="let type of ownerTypes" [value]="type"
                >{{type}}</ion-select-option
              >
            </ion-select>
          </ion-item>
          <ion-item *ngIf="phoneNumber.owner && isPhoneNumberOwnerOther(phoneNumber)">
            <ion-label position="floating">Especifíque</ion-label>
            <ion-input
              type="text"
              placeholder="¿Que relación tiene con este contacto?"
              [(ngModel)]="phoneNumber.ownerOther"
            >
            </ion-input>
          </ion-item>
        </div>

        <ion-item
          *ngIf="phoneNumber.owner && isPhoneNumberOwnerNotMine(phoneNumber)"
          id="ownerAlias"
          class="ion-margin-bottom"
        >
          <ion-label position="floating">Nombre del contacto</ion-label>
          <ion-input type="text" [(ngModel)]="phoneNumber.ownerName"></ion-input>
        </ion-item>

        <div id="buttons" class="d-flex ion-justify-content-end ion-padding">
          <ion-button
            color="danger"
            fill="outline"
            class="ion-margin-end"
            (click)="onDeleteClick(phoneNumber)"
            >Eliminar</ion-button
          >
          <ion-button color="primary" (click)="onSaveClicked(phoneNumber)"
            >Guardar</ion-button
          >
        </div>
      </div>
    </ion-accordion>
  </ion-accordion-group>

  <div style="height: 200px"></div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="onAddClicked()">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
