<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="onLogoutClicked()">
                <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>
            <app-logo size="sm"></app-logo>
        </ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="onEditProfileClicked()">
                <ion-icon slot="icon-only" name="settings-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ng-container *ngIf="!loading">
        <h4 class="ion-text-center ion-margin-bottom">Hola {{username}}</h4>
        <app-qr-code-viewer
            [qrCodeInformation]="qrCodeInformation"
            (qrCodeSrcEmitter)="onQrSrcObtained($event)"
        ></app-qr-code-viewer>
    </ng-container>
</ion-content>
