<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="onLogoutClicked()">
                <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>
            <app-logo size="sm"></app-logo>
        </ion-title>
        <ion-buttons slot="end">
            <app-avatar height="32px" width="32px" (clicked)="onProfileClicked()"></app-avatar>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content
    [fullscreen]="scanning"
>
    <ng-container *ngIf="!loading">
        <div style="margin: 15px; height: calc(85% - 25%)">
            <h4 class="ion-text-center ion-margin-bottom">Hola {{username}}</h4>
            <app-qr-code-viewer
                *ngIf="viewCode"
                (qrCodeSrcEmitter)="onQrSrcObtained($event)"
            ></app-qr-code-viewer>
            <div
                *ngIf="isScannerAvailable"
                class="d-flex ion-justify-content-center ion-margin-top"
            >
                <ion-button (click)="onScanClicked()">Escanear</ion-button>
            </div>
        </div>
    </ng-container>

    <ion-fab
        *ngIf="hasPlatformFinishedLoading"
        vertical="bottom"
        horizontal="end"
        slot="fixed"
    >
        <ion-fab-button (click)="onLocationClicked()">
            <ion-icon name="location-outline"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>

<app-bottom-navigation></app-bottom-navigation>